@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@theme {
  --color-textprimary: #0e1810;
  --color-accent1: #f16521;
  --color-accent2: #3f1212;
  --color-background: #fbfffe;
  --color-textsecondary: #6f746f;
  --color-accent3: #fcde5a;
  --color-accent3light: rgba(252, 222, 90, 0.2);
}

@font-face {
  font-family: "Objectivity";
  src: url("/fonts/Objectivity-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Objectivity";
  src: url("/fonts/Objectivity-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Objectivity";
  src: url("/fonts/Objectivity-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Objectivity";
  src: url("/fonts/Objectivity-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Objectivity";
  src: url("/fonts/Objectivity-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Objectivity";
  src: url("/fonts/Objectivity-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Objectivity";
  src: url("/fonts/Objectivity-Super.woff") format("woff");
  font-weight: 1000;
  font-style: normal;
}

@font-face {
  font-family: "Objectivity";
  src: url("/fonts/Objectivity-Thin.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

html,
body {
  height: 100%;
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Objectivity", sans-serif;
  line-height: 1.6;
  font-size: 16px;
}

@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

/* Ensures elements start from the left and smoothly move leftward */
.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 60s linear infinite;
  transform: translateX(0%); /* Ensures elements are visible on load */
}
